.nav-icon-1 {
    width: 30px;
    height: 30px;
    position: relative;
}

.nav-icon-1 span {
    display: block;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}

.nav-icon-1 span:nth-child(1) {
    left: 0;
    top: 0;
}

.nav-icon-1 span:nth-child(2) {
    left: 12.5px;
    top: 0;
}

.nav-icon-1 span:nth-child(3) {
    right: 0;
    top: 0;
}

.nav-icon-1 span:nth-child(4) {
    left: 0;
    top: 12.5px;
}

.nav-icon-1 span:nth-child(5) {
    left: 12.5px;
    top: 12.5px;
}

.nav-icon-1 span:nth-child(6) {
    right: 0;
    top: 12.5px;
}

.nav-icon-1 span:nth-child(7) {
    left: 0;
    bottom: 0;
}

.nav-icon-1 span:nth-child(8) {
    left: 12.5px;
    bottom: 0;
}

.nav-icon-1 span:nth-child(9) {
    right: 0;
    bottom: 0;
}

.nav-icon-1.open {
    transform: rotate(180deg);
    transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.nav-icon-1.open span {
    transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4) 0.1s;
}

.nav-icon-1.open span:nth-child(2) {
    left: 6.25px;
    top: 6.25px;
}

.nav-icon-1.open span:nth-child(4) {
    left: 6.25px;
    top: 18.75px;
}

.nav-icon-1.open span:nth-child(6) {
    right: 6.25px;
    top: 6.25px;
}

.nav-icon-1.open span:nth-child(8) {
    left: 18.75px;
    bottom: 6.25px;
}